version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: flask-api
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    command: python -m app.main

  frontend:
    build: ./frontend
    container_name: angular-ui
    working_dir: /app/frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/frontend/node_modules
    command: npm start

volumes:
  pgdata:
